* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .appleWatch {
    height: 6vh;
    width: 100%;
    background-color: #243746;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .appleWatch p {
    text-transform: uppercase;
    color: #FFCD00;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
  }
  .appleWatch p span {
    text-decoration: underline;
    font-size: 12px;
  }
  #navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 7vh;
    list-style: none;
  }
  #navbar ul img {
    width: 100px;
    height: 30px;
    margin-left: 10px;
  }
  #navbar ul .btnOffer {
    margin-left: 70px;
    height: 7vh;
    width: 150px;
    background-color: #FFCD00;
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  #navbar ul .toggler {
    width: 30px;
    height: 50px;
    margin-right: 40px;
  }
  #imgHome {
    width: 100%;
    height: 60vh;
    background-image: url(imagenes/pesa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -16px;
  }
  #imgHome h1 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
  }
  .first__Info {
    height: 70vh;
    width: 100%;
    background-image: url(imagenes/patron1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first__Info .btnFirst {
    margin-top: -140px;
    margin-bottom: 30px;
    height: 50px;
    width: 170px;
    background-color: #FFCD00;
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .first__Info h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    width: 450px;
  }
  .first__Info .linea {
    border-top: 7px solid #FFCD00;
    height: 10px;
    width: 100px;
    margin-top: 10px;
  }
  .first__Info p {
    width: 400px;
    text-align: center;
    color: #505055;
  }
  .first__Info .btnTimers {
    height: 50px;
    width: 170px;
    background-color: #FFCD00;
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 50px;
  }
  .carrusel {
    height: 30vh;
    width: 100%;
    background-image: url(imagenes/carrusel1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #fitness {
    height: auto;
    width: 100%;
    background-image: url(imagenes/patron1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #fitness h3 {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 70px;
  }
  #fitness .smartWatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-bottom: -35px;
  }
  #fitness .smartWatch img {
    width: 200px;
    height: 180px;
    margin-bottom: 15px;
  }
  #fitness .smartWatch p {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  #fitness .btnTimers {
    height: 50px;
    width: 170px;
    background-color: #FFCD00;
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .locations {
    height: 70vh;
    width: 100%;
    background-image: url(imagenes/pesas2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .locations h3 {
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 400px;
  }
  .locations p {
    color: white;
    width: 250px;
    font-size: 18px;
  }
  .locations .btnTimers {
    height: 50px;
    width: 170px;
    background-color: #FFCD00;
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .locations .btnLocations {
    height: 50px;
    width: 170px;
    background-color: white;
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .sectionCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/patron1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }
  .sectionCards h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    width: 450px;
    margin-top: 50px;
  }
  .sectionCards .linea {
    border-top: 7px solid #FFCD00;
    height: 10px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .sectionCards p {
    width: 400px;
    text-align: center;
    color: #505055;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .sectionCards .boxCard {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    width: 380px;
    height: 420px;
    border-radius: 0%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
    background-color: white;
  }
  .sectionCards .boxCard img {
    width: 380px;
    height: 250px;
  }
  .sectionCards .boxCard h5 {
    font-weight: bold;
    color: black;
    text-align: left;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 15px;
  }
  .sectionCards .boxCard p {
    text-align: left;
    margin-left: 15px;
    color: black;
    width: 300px;
    font-size: 16px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .prueba {
    width: 100%;
    height: 100vh;
    background-color: #243746;
  }
}/*# sourceMappingURL=style.css.map */